@using System.Globalization
@inject IStringLocalizer<App> Loc
@inject IJSRuntime jsRuntime
@page "/"

<PageTitle>Index</PageTitle>

<h1>@Loc["HomeTitle"]</h1>

@Loc["HomeSubtitle"]

<SurveyPrompt Title="@Loc["SurveyPromptTitle"]" />

