@using System.Globalization
@inject IStringLocalizer<MainLayout> Loc
@inherits LayoutComponentBase

<PageTitle>@Loc["ApplicationName"]</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">@Loc["MenuAbout"]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>